body
{
  background-color:#f2f453;
  padding:0;

}

#header-nav
{

  background-color:#231875; 
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0 ;
  border:5px solid black;
  margin:0;
}

.navbar-brand h1
{
  
  margin:0;
  font-size:1.5em;
  font-family: 'Oxygen', sans-serif;
}
.navbar-header
{
  position:relative;
}
li a
{
  position:absolute;
  right:0;
}
a:hover
{
  text-decoration: none;
  color:#ffffff;
  text-shadow: 1px 1px 1px #777;

}

a:active h1{
  background-color: #ffffff;
}

#nav-list {
  margin-top: 0px;
}
#nav-list a {
  color: #ffffff;
  text-align: center;
  border:5px;
  background-color:#667711;
  margin-top: 0px;
  right:0;
  
  
}
#nav-list a:hover {
  background: #000000;
}

#nav-list a {

  right:0;
  font-size: 1.8em;
  border:3px solid black;
  margin:5px;
  
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #ffffff;

}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top:-30px;
  
}



.main-content h2
{
  text-align:centre;
  text-decoration-style:italic;

  color:#009999;
}
.para 
{
  padding:10px 10px 10px 10px;
  margin:30px;
  border:1px;
  color:#ffccdd;
  font-size: 20px;
  background-color:#354536;
  height:1000px;
}
.para h3
{
  text-align: centre;
}